#app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - 84px);
  align-items: center;
  background: #ffffff;
  /* color: #2f3542; */
}

form {
  margin: 15px;
}

.card_container {
  margin-bottom: 16px;
}

.result-container {
  min-height: 80vh;
}

.weather-card {
  position: relative;
}

.weather-card h5{
  font-size: 2em;
  margin-bottom: 0;
}

.weather-card p{
  font-size: 1.5em;
}

.weather-card a {
  position: absolute;
  right: 16;
  bottom: 16;
}

.darken{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
  background: black;
  opacity: 0.3;
}
.card-img {
  max-height: 210px;
}