<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Weather App</title>
  <link rel="stylesheet" href="./css/normalize.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" href="./css/main.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
  <nav id="nav" class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      Travel Weather
    </a>
  </nav>
  <div id="app" class="">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" v-model="search"/>
            <button class="btn my-2 my-sm-0" v-on:click="lookup($event)">{{ submit }}</button>
          </form>
        </div>
        <div class="col-12">
          <div class="container">
            <div class="row">

                <div v-if="showCards" v-for="place in placesData" class="col-sm-12 col-md-6 col-lg-4 card_container">

                  <div class="card bg-dark text-white border-0 rounded weather-card">
                      <img v-bind:src="images[place.city.name]" class="card-img" alt="...">
                      <div class="darken"></div>
                      <div class="card-img-overlay">
                        <h5 class="card-title">{{ place.city.name }}</h5>
                        <p class="card-text">{{ Math.floor(place.list[0].main.temp) }}°c</p>

                        <a href="#" v-on:click="selectPlace(place.city.name)" class="btn-sm btn-light float-right align-self-end">More</a>
                      </div>
                    </div>
                </div>

                <div v-if="showResult" class="col-sm-12">
                  <div class="container result-container" v-if="selectedPlace">
                    <div class="row">
                      <div class="col-12">
                        <h1>{{ selectedPlace.city.name }}</h1>
                        <h3>{{ selectedPlace.city.country }}</h3>
                            <div class="container">
                              <div class="row slick">
                                <div v-for="x in selectedPlaceList" class="card col-4">
                                  <div class="card-body">
                                    <h5 class="card-title">{{ Math.floor(x.main.temp) }}°c</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">{{x.weather[0].description}}</h6>
                                    <p>Date: {{ new Date( x.dt * 1000 ).getDate() }}/{{ new Date( x.dt * 1000 ).getMonth() }}</p>
                                    <p>Time: {{ new Date( x.dt * 1000 ).getHours() }}:00</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          <!-- </div> -->
                      
                          
                          
                        <!-- </div> -->
                        <a href="#" v-on:click="back()" class="btn btn-primary float-right">Back</a>
                      </div>
                    </div>
                  </div>
                </div>



            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="error" class="alert alert-danger" role="alert">
      {{errorMessage}}
    </div>
  </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="./js/main.js"></script>
</body>
</html>